body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size:15px;
  line-height:1.5;
  padding:0;
  margin: 0;
}

/* Global */
.container{
  background-color:#ffffff;
  width:80%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  overflow:hidden;
  border: solid;
  border-width: 1px;
}

.banner{
  background-color:#f4f4f4;
  width:80%;
  margin: auto;
  overflow:hidden;
}

header ul{
  margin: 0;
  padding: 0;
}

/* Header */
header{
  background-color:#f4f4f4;
  padding-top: 30px;
  min-height:70px;
  border-bottom:red 3px solid;
}

header a{
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display: inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:15px;
}

header .highlight, header .current a, header a:hover{
  color:blue;
  font-weight: bold;
  text-decoration: underline;
}

/*header a:hover{
  color:#cccccc;
  font-weight: bold;
}*/

/*#about{
  padding: 30px 15px 30px 15px;
}*/



#about-image img{
  float: left;
  padding-bottom: 30px; 
  margin-right: 15px;
  width: 20%;
}

/*h3 {
margin-bottom: 0.6em;
border-bottom: 1px solid #aaa;
padding: 0.5em 0 0.17em 0;
color: #000;
}*/

footer{
  float: right;
  padding-right: 10%;
  padding-top: 30px;
}
/* Showcase */
#showcase img{
  padding-top: 3px;
}

